# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
env/
.env

# Firebase
*.json
!firebase.json

# IDEs
.vscode/
.idea/

# Flutter/Dart
build/
.dart_tool/
.packages
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
android/app/debug/
android/app/profile/
android/app/release/

# OS
.DS_Store
Thumbs.db
